doctype html
html
  head
    meta(charset="utf8")
    title __MSG_title__
    link(href="css/last-visit.css" rel="stylesheet")
  body: .wrapper
    header
      a.open __MSG_open__
      a.clear __MSG_clear__
      h1 __MSG_title__
    ul
    script(src="js/last-visit.js")
